<p>
  <h5 class="search-left">BROWSE:</h5>
  <ul class="search-list">
    <li>
      <i class="fa fa-globe space-right"></i>
      <%= link_to "Manage User", admin_users_path %>
    </li>
    <li>
      <i class="fa fa-star space-right"></i>
      <%= link_to "Manage Movies", admin_shows_path %>
    </li>
    <li>
      <i class="fa fa-tags space-right"></i>
      <%= link_to "Sale Report", admin_sales_path %>
    </li>
  </ul>
</p>
<% if user_signed_in? %>
  <p>
    <h5 class="search-left">CONTENT MANAGEMENT:</h5>
    <ul class="search-list">
      <li>
        <i class="fa fa-user space-right"></i>
        <%= link_to "About Us", root_path %>
      </li>
      <li><i class="fa fa-credit-card space-right"></i>
        <%= link_to "Term of Use", root_path %>
      </li>
      <li><i class="fa fa-credit-card space-right"></i>
        <%= link_to "Privacy Policy", root_path %>
      </li>
    </ul>
  </p>
<% end %>
