<p>
  <h5 class="search-left">BROWSE:</h5>
  <ul class="search-list">
    <li>
      <i class="fa fa-user space-right"></i>
      <%= link_to "Manage User", admin_users_path %>
    </li>
    <li>
      <i class="fa fa-file-video-o space-right"></i>
      <%= link_to "Manage Movies", admin_shows_path %>
    </li>
    <li>
      <i class="fa fa-area-chart space-right"></i>
      <%= link_to "Sale Report", admin_transactions_path %>
    </li>
  </ul>
</p>
<% if user_signed_in? && current_user.role == "admin" %>
  <p>
    <h5 class="search-left">CONTENT MANAGEMENT:</h5>
    <%= link_to "Manage static page", admin_infos_path %>
    <ul class="search-list">
      <li>
        <i class="fa fa-newspaper-o space-right"></i>
        <%= link_to "About Us", edit_admin_info_path(2) %>
      </li>
      <li><i class="fa fa-file-text-o space-right"></i>
        <%= link_to "Term of Use", edit_admin_info_path(4) %>
      </li>
      <li><i class="fa fa-file-powerpoint-o space-right"></i>
        <%= link_to "Privacy Policy", edit_admin_info_path(5) %>
      </li>
      <li><i class="fa fa-tasks space-right"></i>
        <%= link_to "How it works", edit_admin_info_path(3) %>
      </li>
      <li><i class="fa fa-foursquare space-right"></i>
        <%= link_to "Affiliates", admin_affiliates_path %>
      </li>
    </ul>
  </p>
<% end %>
