<div class="small-12 columns">
  <div class="large-3 small-12 columns padding-top">
    <%= render "admin/side_nav" %>
  </div>
  <div class="large-9 small-12 columns right-panel padding-top">
    <div class="row">
      <div class="small-6 columns">
        <strong>
          <span class="popular">Manage Users</span>
        </strong>
      </div>
      <hr>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Created at</th>
            <th>Last sign in at</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= user.role %></td>
            <td>
              EDIT||DELETE||UPGRADE||
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="paginate">
      <%= paginate @users %>
    </div>
  </div>
</div>
