<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Tangerine" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed" style="z-index: 99999">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <span class="logo">
              <a href="/"><img src="https://s3.amazonaws.com/movie-site-anton/movie-reels-and-popcorn.png"></img><span id="logo_text">SlickHD</span>
              </a>
            </span>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="nav-items">
               <%= link_to "Home", root_path %>
            </li>
            <li class="nav-items">
              <%= link_to "Browse Movies", shows_path %>
            </li>
            <% if !user_signed_in? %>
              <li class="nav-items">
                <%= link_to "Price", root_path(:anchor => "sixth_welcome") %>
              </li>
              <li class="nav-items">
                <%= link_to "How it works", root_path(:anchor => "how_it_works") %>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <li class="nav-items">
                <%= link_to "|| Sign Out ", destroy_user_session_path, :method => :delete %>
              </li>
              <li class="nav-items">
                <%= link_to "My account ||", user_path(current_user) %>
              </li>
            <% else %>
              <li class="nav-items">
                  <%= link_to "|| Sign Up", new_user_registration_path %>
                </li>
                <li class="nav-items">
                  <%= link_to "Sign In ||", new_user_session_path %>
                </li>
            <% end %>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#"></a></li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="top-divider fixed"></div>
    <% if notice || alert %>
      <div class="notice-flash">
        <p><%= notice %></p>
        <p><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <div class="six_welcome small-12 columns footer">
      <div class="small-12 large-5 large-offset-1 columns end">
        <ul>
          <li>
            <%= link_to "About Us ||", info_path(2), {class: "link_footer"} %>
          </li>
          <li>
            <%= link_to "Term of Use ||", info_path(4), {class: "link_footer"} %>
          </li>
          <li>
            <%= link_to "Privacy Policy ||", info_path(5), {class: "link_footer"} %>
          </li>
          <li>
            <%= link_to "How it works", info_path(3), {class: "link_footer"} %>
          </li>
        </ul>
      </div>
      <div class="small-12 large-5 columns end copyright-footer">
        Copyright @ 2014 SlickHD.com
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
