<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed" style="z-index: 99999">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">My Video Site</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="nav-items">
               <%= link_to "Home", root_path %>
            </li>
            <li class="nav-items">
              <%= link_to "Browse Movies", shows_path %>
            </li>
            <li class="nav-items">
              <%= link_to "Price", root_path %>
            </li>
            <li class="nav-items">
              <%= link_to "How it works", root_path %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-items">
                <%= link_to "|| Sign Out ||", destroy_user_session_path, :method => :delete %>
              </li>
            <% else %>
              <li class="nav-items">
                  <%= link_to "|| Sign Up", new_user_registration_path %>
                </li>
                <li class="nav-items">
                  <%= link_to "Sign In ||", new_user_session_path %>
                </li>
            <% end %>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#"></a></li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="top-divider fixed"></div>
    <% if notice %>
      <div class="notice-flash">
        <p><%= notice %></p>
        <p><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <div class="six_welcome small-12 columns footer">
      <div class="small-5 small-offset-1 columns end">
         Term of Use &nbsp;&nbsp;&nbsp;
          Privacy Policy&nbsp;&nbsp;&nbsp;
         Support
      </div>
      <div class="small-5 columns end" style="text-align: right">
        Copyright @ 2014 MyVideoSite.com
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
